#groupsSection {
  width: 80px;
}
.sideBarItem {
  height: 30px;
  font-size: 15px;
  background-color: #696b62;
  border-radius: 3px;
  margin-left: 3px;
  padding-top: 4px;
  text-align: center;
  color: white;
}

.sideBarItem:hover {
  background-color: #2f52a3;
  cursor: pointer;
}

.sideBarItem.active {
  background-color: #ffc038;
}

.addGroupBtn {
  height: 30px;
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 3px;
  margin-left: 3px;
  padding-top: 4px;
  text-align: center;
  color: black;
  border: 1px dotted black;
}
.addGroupBtn:hover {
  cursor: pointer;
}
