.addSiteBtn {
  background: linear-gradient(to bottom, #ffc038 5%, #a39e35 100%);
  background-color: #27242b;
  border-radius: 21px;
  border: 6px solid #a39b40;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
  padding: 24px 27px;
  text-decoration: none;
  text-shadow: 0px 2px 0px #2f6627;
  margin-top: 5px;
  margin-bottom: 8px;

  margin-left: 130px;
}
.addSiteBtn:hover {
  background: linear-gradient(to bottom, #bfb664 5%, #f6ff3f 100%);
  background-color: #bfa16d;
}
.addSiteBtn:active {
  position: relative;
  top: 1px;
}
